export APP_NAME="nats_uptime_bots"
export PIPENV_VERBOSITY="-1"

# PostgreSQL
export POSTGRES_DB="${APP_NAME}"
export POSTGRES_USER="${APP_NAME}"
export POSTGRES_PASSWORD="admin"
export POSTGRES_PORT="5432"
export POSTGRES_HOST="postgres"
